.contentAbout {
    display: flex;
    flex-direction: column;
    height: 87vh;
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: rgba(253, 253, 253, 0.452);
}

.containerAbout {
    background-image: url('./FB_IMG_1582291823737.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.title {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    /* font-family: 'Zen Kurenaido', sans-serif; */
}

.sectionHeader {
    font-family: 'Handlee', cursive;
    padding: 0.5rem 0 ;
    letter-spacing: 1px;

}

.section1 {
    margin-top: 0;
    height: 30%;
    padding: 0.3rem 0.7rem;
    background-color: rgba(255, 255, 255, 0.265);
}


@media (max-width : 600px) {
    .contentAbout {
        height: 100vh;
    }
}

@media (max-width : 470px) {
    .contentAbout {
        height: 110vh;
    }
}

@media (max-width : 370px) {
    .contentAbout {
        height: 160vh;
    }
}