.footer {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.623);
    font-family: 'Zen Kurenaido', sans-serif;

}

.contactList  {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
}

.emailAndPhone {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
}

.icon {
    display: block;
    cursor: pointer;
    opacity: 0.6;
    transition: all ease-in-out 200ms;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.3);
}

.footerHeader {
    font-size: 2rem;
    padding: 1rem 0;
    color: rgb(180, 248, 239)
}

.contact {
    padding: 1rem;
}

@media (min-width : 900px)  {
    .footerContainer {
        width: 700px;
    }
    
}