@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Leckerli+One&family=Neucha&family=Zen+Kurenaido&display=swap');


.contentInspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: rgba(253, 253, 253, 0.452);
    font-family: 'Zen Kurenaido', sans-serif;
    transition: all ease-in-out 2000ms;
}

.quoteContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    font-size:4rem;
    letter-spacing: 2px;
}

.Rumi {
    margin-left: auto;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    color: #0a0d13;
    font-weight: 800;
    
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 0;
	animation-timing-function: ease-in;
	animation-duration: 200ms;
}

.btn {
    width: 15%;
    padding: 0.7rem;
    color: rgb(0, 0, 0);
    background-color: inherit;
    border: 1px solid #fff;
    font-size: 1.2rem;
    transition: all ease-in-out 300ms;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 14px rgba(70,65,65,0.55); 
    box-shadow: 0px 0px 20px 14px rgba(70,65,65,0.55);
}

.btn:focus , .btn:active {
    outline: none;
}

.btn:hover {
    animation: shake 1000ms;
    animation-iteration-count: 2;
}



@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media (max-width : 700px) {
    .btn {
        width: 70%;
    }

    .quoteContainer {
        width: 95%;
    }
}