.projectPage {
    background-image: url('./GOPR2037.JPG');
    background-repeat: no-repeat;
    background-position:bottom ;
    background-size: cover;
    

}

.projectSection {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #fff;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.295);
    max-height: 28%;
}

.projectSection p {
    font-weight: 500;
    letter-spacing: 1px;
}

.secondTitle {
    text-align: center;
    font-size: 1rem;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 600;
}
.projects {
    height: 87vh;
    background-color: rgba(255, 0, 0, 0.164);
    margin-top: 3rem;
    padding: 2rem 1rem;
}

.projectContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.7rem;
    
}

.projectHeader {
    transition: all ease-in-out 300ms 100ms ;
}

.projectHeader:hover {
    transform: translateY(-10px);
}

.img {
    cursor: pointer;
    min-width: 10%;
    min-height: 5%;
    max-width: 30%;
    max-height: 25%;
    transform: translateY(-2rem);
    transition: all ease-in-out 500ms;
}

/* .img img {
    -webkit-box-shadow: 0px 0px 20px 14px rgba(70,65,65,0.55); 
    box-shadow: 0px 0px 20px 14px rgba(70,65,65,0.55);
} */

.img:hover {
    transform: scale(3) translateX(-4rem) translateY(-1rem);
}

@media (min-width : 800px) {
    .img {
        height: 10%;
        width: 10%;
    }
}

@media (max-width : 500px) {
    .projects {
        height: 100vh;
    }
    .projectSection {
        max-height: 30%;
    }
}