html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ZenKurenaido-Regular';
  font-style: normal;
  font-weight: 300;
  src: local('ZenKurenaido-Regular'), local('ZenKurenaido-Regular'), 
  url('./ZenKurenaido-Regular.ttf') format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&family=Leckerli+One&family=Neucha&family=Zen+Kurenaido&display=swap');
@import url("https://kit.fontawesome.com/8b76f13d94.js")